<div class="animal-list-container">
  <div class="p-field search-field">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        type="text"
        pInputText
        [(ngModel)]="searchTerm"
        (input)="onSearchChange($event)"
        placeholder="Search animals..."
        class="p-inputtext-lg"
      />
    </span>
  </div>

  <div class="scrollable-list">
    <p-scroller [items]="filteredAnimals" scrollHeight="400px" [itemSize]="70">
      <ng-template pTemplate="item" let-animal let-options="options">
        <div class="p-mb-2 animal-item-card" [ngClass]="{'odd': options.odd}">
          <p-card>
            <div class="animal-item-content">
              <span class="animal-name">{{ animal.name }}</span>
              <p-checkbox
                [(ngModel)]="animal.selected"
                [binary]="true"
                inputId="animal-{{animal.id}}"
                (onChange)="logSelectedAnimals()"
                aria-label="'Select ' + animal.name">
              </p-checkbox>
            </div>
          </p-card>
        </div>
      </ng-template>
      <ng-template pTemplate="loader" let-options="options">
         <!-- You can customize the loader if needed -->
        <div class="p-mb-2 animal-item-card" [ngClass]="{'odd': options.odd}">
           <p-card>
              <div class="animal-item-content">
                 <p-skeleton width="60%" height="1.5rem" styleClass="p-mb-1"></p-skeleton>
                 <p-skeleton shape="circle" size="2rem"></p-skeleton>
              </div>
           </p-card>
        </div>
      </ng-template>
      <ng-template pTemplate="empty">
        <div class="p-p-3 empty-message">
          No animals found matching your search.
        </div>
      </ng-template>
    </p-scroller>

    <!--
    Alternative using *ngFor with manual scroll container (less performant for very large lists):
    <div class="manual-scroll-container">
      <div *ngIf="filteredAnimals.length > 0; else noAnimals">
        <div *ngFor="let animal of filteredAnimals" class="p-mb-2 animal-item-card">
          <p-card>
            <div class="animal-item-content">
              <span class="animal-name">{{ animal.name }}</span>
              <p-checkbox
                [(ngModel)]="animal.selected"
                [binary]="true"
                inputId="animal-{{animal.id}}"
                (onChange)="logSelectedAnimals()"
                aria-label="'Select ' + animal.name">
              </p-checkbox>
            </div>
          </p-card>
        </div>
      </div>
      <ng-template #noAnimals>
        <div class="p-p-3 empty-message">
          No animals found matching your search.
        </div>
      </ng-template>
    </div>
    -->
  </div>
</div>