<div class="animal-list-container">
  <div class="toolbar"> <!-- Container for search and select all -->
    <div class="p-field search-field">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          type="text"
          pInputText
          [value]="searchTerm()"
          (input)="onSearchChange($event)"
          placeholder="Search animals..."
          class="p-inputtext-lg"
        />
      </span>
    </div>

    <div class="select-all-container">
      <p-checkbox
        #selectAllCheckboxRef 
        [value]="masterCheckboxStatus().checked"
        (onChange)="toggleSelectAll()"
        [binary]="true"
        inputId="selectAllAnimals"
        [disabled]="masterCheckboxStatus().disabled"
        aria-label="Select or deselect all filtered animals">
      </p-checkbox>
      <label for="selectAllAnimals" class="p-ml-2">Select All</label>
    </div>
    <pre>{{ checkedAnimals().length }}</pre>
  </div>

  <div class="scrollable-list">
    <p-scroller [items]="filteredAnimals()" scrollHeight="400px" [itemSize]="70">
      <ng-template pTemplate="item" let-animal let-options="options">
        <div class="p-mb-2 animal-item-card" [ngClass]="{'odd': options.odd}">
          <p-card>
            <div class="animal-item-content">
              <span class="animal-name">{{ animal.name }}</span>
              <p-checkbox
                [(ngModel)]="animal.selected"
                (ngModelChange)="onAnimalSelectionChange(animal)"
                [binary]="true"
                inputId="animal-{{animal.id}}"
                aria-label="'Select ' + animal.name">
              </p-checkbox>
            </div>
          </p-card>
        </div>
      </ng-template>
      <ng-template pTemplate="loader" let-options="options">
        <div class="p-mb-2 animal-item-card" [ngClass]="{'odd': options.odd}">
           <p-card>
              <div class="animal-item-content">
                 <p-skeleton width="60%" height="1.5rem" styleClass="p-mb-1"></p-skeleton>
                 <p-skeleton shape="circle" size="2rem"></p-skeleton>
              </div>
           </p-card>
        </div>
      </ng-template>
    </p-scroller>
  </div>
</div>